*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}
h1{
    color: red;
}
h2{
    color: rgb(25, 187, 25);
}
.table{
    width: 400px;
    height: 180px;
    border-radius: 10px;
    padding: 10px;
    margin: 200px auto;
    box-shadow: 1px 2px 3px 4px greenyellow;
}